In [7]:
# Dependencies
import plotly.graph_objs as go
from shapely.geometry import shape
import plotly.express as px
import geopandas as gpd
import pandas as pd
import numpy as np
import requests
import json

### Migration flows by Upper Tier Local Authority

Information about the data can be fount here: https://www.nomisweb.co.uk/sources/census_2021_mig

In [22]:
# Create df for migration into England and Wales
mig_utla_in_df = pd.read_csv("./Resources/MIG004EW_UTLA_IN.csv")
# print(mig_utla_in_df.head())

# Create df for emigration from England and Wales
mig_utla_out_df = pd.read_csv("./Resources/MIG004EW_UTLA_OUT.csv")
# mig_utla_out_df.head()

,Migrant UTLA one year ago code,Migrant UTLA one year ago label,Migration UTLA (outflow) (3 categories) code,Migration UTLA (outflow) (3 categories) label,Ethnic group (6 categories) code,Ethnic group (6 categories) label,National Statistics Socio-economic Classification (NS-SeC) (10 categories) code,National Statistics Socio-economic Classification (NS-SeC) (10 categories) label,Count
0,-8,Does not apply,-8,Does not apply,-8,Does not apply,-8,Does not apply,0
1,-8,Does not apply,-8,Does not apply,-8,Does not apply,1,"L1, L2 and L3: Higher managerial, administrati...",0
2,-8,Does not apply,-8,Does not apply,-8,Does not apply,2,"L4, L5 and L6: Lower managerial, administrativ...",0
3,-8,Does not apply,-8,Does not apply,-8,Does not apply,3,L7: Intermediate occupations,0
4,-8,Does not apply,-8,Does not apply,-8,Does not apply,4,L8 and L9: Small employers and own account wor...,0

In [24]:
# Count local authority labels in
utla_authority_in = mig_utla_in_df.groupby(['Upper tier local authorities code', 'Upper tier local authorities label'])['Count'].sum().reset_index()
utla_authority_in = utla_authority_in.sort_values(by='Count', ascending=False)

#Save df to csv file
utla_authority_in.to_csv("./Resources/utla_authority_in.csv", index=False)

# print(utla_authority_in.head)

# Count local authority labels out
utla_authority_out = mig_utla_out_df.groupby(['Migrant UTLA one year ago code', 'Migrant UTLA one year ago label'])['Count'].sum().reset_index()
utla_authority_out = utla_authority_out.sort_values(by='Count', ascending=False)


#Save df to csv file
utla_authority_out.to_csv("./Resources/utla_authority_out.csv", index=False)

print(utla_authority_out.head)

<bound method NDFrame.head of     Migrant UTLA one year ago code            Migrant UTLA one year ago label  \
0                               -8                             Does not apply
1                        999999999  Person with migrant origin outside the UK
139                      E10000016                                       Kent
135                      E10000012                                      Essex
137                      E10000014                                  Hampshire
..                             ...                                        ...
170                      W06000019                              Blaenau Gwent
18                       E06000017                                    Rutland
175                      W06000024                             Merthyr Tydfil
97                       E09000001                             City of London
51                       E06000053                            Isles of Scilly

        Count
0    52532046
1      545101
139    143644
135    130770
137    127803
..        ...
170      4457
18       3784
175      3631
97       1561
51        182

[176 rows x 3 columns]>

https://open-geography-portalx-ons.hub.arcgis.com/datasets/ons::ward-to-westminster-parliamentary-constituency-to-local-authority-district-to-upper-tier-local-authority-december-2022-lookup-in-the-united-kingdom/explore?filters=eyJVVExBMjJDRCI6WyJFMTAwMDAwMTYiXX0%3D